.bg-image {
  height: 100vh;
  /* background-image: url("../images/bg.jpg"); */
  background-size: cover;
}

.fnt-primary-color {
  color: #42446e;
}

.fnt-secondary-color {
  color: #666666;
}

.fnt-light-color {
  color: #a7a7a7;
}

.text-gradient {
  background: linear-gradient(180deg, #e70faa 0%, #13b0f5 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link.active {
  font-family: WorkSans-Bold;
  font-size: 18px;
  font-weight: 700;
  color: #42446e;
  border-radius: 10px;
}

.nav-link.active .icons-nav,
.nav-link.active .fnt-nav-link {
  color: #42446e;
}

.step-container {
  transform: rotate(90deg);
}

.main-container {
  max-height: 70vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-container {
    max-height: 90vh;
  }
  .home-container {
    height: 80vh;
    overflow: hidden !important;
  }
  .profile-image {
    width: 60% !important;
    height: 70% !important;
  }
}

@media (min-width: 768px) {
  .home-container {
    height: 55vh;
  }
  .profile-image {
    width: 130% !important;
    height: 100% !important;
  }
}

@keyframes wave {
  0% {
    background-position: -100px 0;
  }
  100% {
    background-position: 100px 0;
  }
}

.skeleton-wave {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200px 100%;
  animation: wave 0.1s infinite ease-in-out;
}

@media (max-width: 991px) {
  .chip {
    display: inline-flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 16px;
    padding: 8px 12px;
  }

  .chip.active {
    background-color: #7a7e82;
    color: white;
  }

  .chip img {
    height: 24px;
    width: 24px;
  }
}

@media (min-width: 992px) {
  .chip {
    display: none; 
  }
}
